*{
    margin:0;
}
.main{
    height:100vh;
    width:100%;
    background-image:url(./run1.jpg);
    background-repeat: no-repeat; 
    background-size:cover;
    background-attachment:scroll; 
    background-position:center;
}
.main nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#mid ul{
    list-style: none;
    display:flex;
}
#mid ul a{
    text-decoration: none;
    color:white;
}
#mid ul li{
    font-weight: bold;
    padding:0.5rem;

}
#left{
    color: white;
    font-weight: bold;   
    padding-left: 5rem;
}
#right{
    color: white;
    font-weight: bold;   
    padding-right:5rem;
}
#right a{
    color:white;
    text-decoration: none;

}
.onimg0{
    padding-top:260px;
    padding-left:925px;
    color:orange;
    position:absolute;

}
.onimg{
    padding-top:300px;
    padding-left:750px;
    color:orange;
    font-size:80px;
    font-weight:bold;
}
.join{
    padding-top:20px;
    padding-left:990px;
    color:white;
}
#button{
    background-color: orange;
    border-color: orange;
    border-radius: 5px;
    border-width: 5px;
}
.cen{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.main1{
    height:100vh;
    margin:7rem;
}
h1::first-letter{
    color: hsl(0, 69%, 45%);
    font-weight: bold;
    font-size: 4rem;
}
.blocks{
    display: flex;
    height:100%;
}
.bl1,.bl2,.bl3,.bl4{
    width:20rem;
    height:18rem;
    background-color: blue;
    margin:0.3rem;
}
.bl1{
    background-color:#9d69d8;
}
.bl2{
    background-color:rgb(127, 199, 224);
}
.bl4{
    background-color: rgb(224, 83, 83);
}
.bl3{
    background-color:rgb(98, 243, 98);
}
.block1-1{
    display: flex;
}
.block1-2{
    display:flex;
    
}
.block1{
    margin-right:3rem;
    width: 50%;
}
.block2{
    width:50%;
    height:37.2rem;
}
.in1,.in2,.in3,.in4{
    margin-top:25px;
    margin-left:25px;
    margin-right:50px;
}
.fa-solid.fa-dumbbell,.fa-solid.fa-heart-pulse{
    color:white;
    font-size: 3rem;
    margin-bottom:1rem;
}
.main2{
    background-image:url(./run4.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:45vh;
}
.onback{
    display: flex;
    flex-direction: column;
    align-items:center;
    color:white;   
    padding-top: 5rem;
}
#butt{
    background-color: orange;
    border-color: orange;
    border-radius: 5px;
    border-width: 5px;
    align-items:center;
}
.main3{
    height:100vh;
    margin:7rem;
}
.fi{
    display:flex;
    justify-content: space-between;
}
.sec{
    display:flex;
    justify-content: space-between;
}
.ri1{
    width:50%;
}
.part{
    display:flex;
    justify-content: space-between;
}
.main4{
    height:70vh;
    margin:7rem;
}
.three{
    display: flex;
    justify-content: space-between;
}
.lett{
    display: flex;
    justify-content: space-around;
}
.hello{
    width:15rem;
    height:3rem;
    border:2px 2px solid;
    box-shadow: 3px 3px 3px;
    text-align: center;
}
.main5{
    height:90vh;
    margin:9rem;
}
.box1,.box2,.box3{
    width:20rem;
    height:35rem;
    background-color:white;
    box-shadow: -4px -2px 30px;
}
.bp{
    display: flex;
    justify-content: space-around;
}
.c{
    text-align: center;
    color:rgb(255, 55, 0);
    font-weight:bolder;
    font-size: 30px;
    margin:20px;
}
.inbu{
    font-weight: bold;
    font-size: 20px;
    border: 3px solid rgb(255, 55, 0);
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 15px;
    text-align: center;
}
.main6{
    height:80vh;
    margin:7rem;
    background-color: #9d69d8;
}
.bx1{
    margin: auto;
    width:20rem;
    height:25rem;
    background-color: white;
}
.bxin{
    padding: 2rem;
}
.foot{
    height:30vh;
    margin-top:7rem;
    background-color: #030303;
}
.lo{
    padding:3rem;
    display: flex;
    justify-content: space-around;
}
